<!DOCTYPE html>
<html>

  <head>
    <% include ../partials/head %>
  </head>

  <body class="simple">

  <% include ../partials/header %>

  <section class="page-content">
    <div class="container">
      <%-pageContent%>
    </div>
  </section>

  <% include ../partials/footer %>

    <script src="assets/javascript/main.js"></script>
    <script src="assets/vendor/bootstrap-sass/assets/javascripts/bootstrap.min.js"></script>
  </body>

</html>