<footer>
    <img style="margin-bottom: 10px; width:55%;" src="/assets/images/util/separator.png" alt="separateur"><br>
    Copyright (c) 2017 Alexandre Gadiou. 
    
    <p style="margin-top:10px">
        <a href="http://validator.w3.org/check/referer">
            <img style="border:0;width:88px;height:31px" src="/assets/images/util/html5OK.png" alt="HTML Valid">
        </a>
    </p>
</footer>