<div>
    <ul>
        <li>
            <a href="/"> Accueil </a>
        </li>
        <li>
            <a href="/formation.html"> Formation </a>
        </li>
        <li>
            <a href="/competences.html"> Compétences </a>
        </li>
        <li>
            <a href="/experiences.html"> Expériences </a>
        </li>
        <li>
            <a href="/realisations.html"> Réalisations </a>
        </li>
        <li>
            <a href="/contact.html"> Contact </a>
        </li>
    </ul>
    
</div>